/* My Color Scheme 
#F6E8EA  #FF3864 22181C# #0FA3B1 #F13030*/

/* font-family: 'Montserrat', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Nav start */

nav {
  grid-area: nav;
  width: 100%;
  background-color: #F6E8EA;
}

nav ul {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #261447;
}

nav li:hover {
  background-color: #F39C6B;
}

#container {
  grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer";
}

/* Nav End

/* header start */

header {
  grid-area: header;
  background: linear-gradient(-45deg, #F39C6B, #FF3864, #0197F6, #448FA3, #68C5DB);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400% 400%;
  text-align: center;
  object-fit: contain;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  color: #F6E8EA;
  font-size: 1.3em;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header h1 {
  font-size: 1.7em;
}

a button {
  background: #ffffff00;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
  color: #F6E8EA;
  text-align: center;
  transition: all 0.2s;
  margin: 20px 0 5px 0;
}

@media only screen 

#header-btn button:hover {
  color: #261447;
  background-color: #F6E8EA;
}

.icons img {
  margin-top: 10px;
  widows: 40px;
  height: 40px;
  object-fit: contain;
  transition: all 0, 2s;
}

.icons img:hover {
  transform: scale(1.1);
}

/* header end */

main {
  grid-area: main;
  display: grid;
  grid-template-areas: "left right";
  text-align: center;
  padding: 10%;
}

#about-me-left{
  grid-area: left;
  display: flex;
  flex-direction: column;
}
#about-me-left img{
  width: 40px;
  display: inline;
}

#about-me-right{
  grid-area: right;
  display: none;
  margin: 10%;
}
 

#resume-btn button{
  margin: 5%;
  border: black 1px solid;
  color: black;
  padding: .3em 2em;
}

#resume-btn button:hover{
  background-color: #22181C;
  color: white;
}



@media only screen and (min-width: 768px) {
  main{
    margin: 5%;
  }
  #about-me-right{
    display: block;
  }

  #about-me-left{
    text-align: left;
  }
  header{
    font-size: 2em;
  }
}

/* Footer */

footer {
  width: 100%;
  grid-area: footer;
  background: #F6E8EA;
  align-items: baseline;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer end */

/* contact me form start */

#contactcontainer {
  height: 88vh;
  background-color: brown;
  display: flex;
  flex-direction: column;
}

form {
  max-width: 300px;
}

/*contact form end */