/* My Color Scheme 
https://coolors.co/223127-ed6a5a-0197f6-d81159-ffffff#F6E8

/* font-family: 'Montserrat', sans-serif;*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Nav start */

nav {
  z-index: 1;
  background-color: #FFFFFF;
  top: 0;
  position: fixed;
  grid-area: nav;
  width: 100%;
  overflow: hidden;
}

nav ul {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #223127;
}

nav li:hover {
  background-color: #ED6A5A;
}

#container {
  grid-template-areas: "nav nav nav" "header header header" "main main main" "footer footer footer";
}

/* Nav End

/* header start */

header {
  margin-top: 30px;
  grid-area: header;
  background: linear-gradient( -45deg, #f39c6b, #ff3864, #0197f6, #448fa3, #68c5db);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400% 400%;
  text-align: center;
  object-fit: contain;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 1.7em;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header h1 {
  font-size: 1.7em;
}

.header-btn button {
  background: #ffffff00;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  transition: all 0.2s;
  margin: 20px 0 5px 0;
}

@media only screen and (min-width: 768px) {
  .header-btn button:hover {
    color: #261447;
    background-color: #fff;
  }


}

.icons img {
  margin-top: 10px;
  widows: 40px;
  height: 40px;
  object-fit: contain;
  transition: all 0, 2s;
}

.icons img:hover {
  transform: scale(1.1);
}

/* header end */

#front-page-main {
  grid-area: main;
  display: grid;
  grid-template-areas: "left right";
  text-align: center;
  padding: 2% 10%;}

}

#about-me-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  padding: 20px;

}

#about-me-left img {
  width: 40px;
  display: inline;
}

#about-me-left img:hover{
  transform: scale(1.2);
}

#about-me-right {
  grid-area: right;
  display: none;
  padding: 20px;

}

#resume-btn button {
  margin: 5%;
  background: white;
  border: black 1.5px solid;
  color: black;
  padding: 0.3em 2em;
  border-radius: .2em;
}

#resume-btn button:hover {
  background-color: #22181c;
  color: white;
}

@media only screen and (min-width: 768px) {
  #about-me-right {
    display: block;
  }
  #about-me-left {
    text-align: left;
  }
  header {
    font-size: 2em;
  }
}

/* Footer */

footer {
  width: 100%;
  grid-area: footer;
  background: #223127;
  align-items: baseline;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* footer end */

#contact-header {
  height: 40vh;
}

.form-flexy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contact-details {
  text-align: center;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

.form-container {
  border-radius: 5px;
  padding: 30px;
}

/*contact form end */

/* Porfolio start */

#portfolio-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.portfolio-title {
  text-align: center;
  padding: 30px 20px;
  background-color: white;
  color: #22181c;
}

.portfolioimg {
  /* grid-area: 1 / 1 / 2 / 2; */
  background: url(http://placekitten.com/200/200);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: block;
}

.portfolio-link {
  margin-top: 10px;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  padding: 0.4em 0.4em;
  border: 2px solid #f13030;
  text-align: center;
  color: white;
}

.portfolio-link:hover {
  transform: scale(1.2);
  background-color: #f13030;
}

.portfolio-container {
  position: relative;
  width: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.portfolio-container:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-text {
  color: white;
  font-size: .7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-content: center;
  }
  .portfolioimg {
    background-color: lightblue;
    height: 300px;
  }
}

/* Start of blog page */

#blog-header {
  height: 40vh;
}

#blog-container {
  margin: 1em;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.blog-post {
  margin: 10px;
  padding: 1em;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.20);
}

.blog-post img {
  width: 250px;
  height: 250px;
}

.blog-btn button {
  padding: 1em;
  border: black 2px solid;
  margin-top: 10px;
  transition: all .2;
  background: #ffffff00;
}

.blog-btn button:hover {
  background-color: white;
  color: black;
}

/* Blog Posts */

.small-blog-quote {
  font-size: .7em;
  font-style: italic;
}

article {
  padding: 5%;
  text-align: center;
}

article hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

.author {
  font-size: small;
  font-style: italic;
}